@font-face {
    font-family: 'Vacaciones';
    src: url('./fonts/Vacaciones-font-ffp-defharo.ttf');
}

@font-face {
    font-family: 'Jann Script';
    src: url('./fonts/jann-script.regular.otf');
}

body {
    background-color: rgb(91, 91, 155);
}