.InputField {
    display: flex;
    flex-direction: row;
    margin: 10px auto 10px auto;
}

#task-input {
    width: 350px;
    height: 25px;;
    border: none;
    border-radius: 20px;
}

#submit-button {
    margin-left: 20px;
    font-family: 'Jann Script';
    font-weight: bold;
    border: none;
    border-radius: 20px;
}