.ToDoTable {
    width: 445px;
    min-height: 385px;
    margin-top: 30px;
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    background-image: url(../img/table-background.png);
    border: none;
    border-radius: 20px;
}