.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text {
    font-size: 130px;
    font-weight: bold;
    font-family: 'Vacaciones';
    text-align: center;
    color: black;
    margin-top: 30px;

    /* Font is offset to right */
    margin-right: 25px;
}